<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 600;
      }

      td {
        border: 1px solid;
        padding: 5px 10px;
      }
      .bd-no {
        margin-top: 20px;
      }
      .bd-no td {
        border: none;
      }
      .page-break {
        page-break-before: always;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center; font-size: 2rem">GIFRAB ITALIA S.p.A</h1>
      <h2 style="text-align: center; font-size: 1.8rem; margin: 10px 0">
        ITALY
      </h2>
      <table>
        <tr>
          <td>BRAND</td>
          <td style="width: 4px">:</td>
          <td colspan="8"><%= item.items[0].Brand %></td>
        </tr>
        <tr>
          <td>NEW COOP</td>
          <td style="text-align: center">:</td>
          <td colspan="8"><%= item.items[0].NewCoop %></td>
        </tr>
        <tr>
          <td>STYLE</td>
          <td style="text-align: center">:</td>
          <td colspan="8"><%= item.items[0].Style %></td>
        </tr>
        <tr>
          <td>COLOR</td>
          <td>:</td>
          <td colspan="8"><%= item.items.map(d => d.Color).join(' & '); %></td>
        </tr>

        <tr>
          <td>SIZE</td>
          <td style="text-align: center">:</td>
          <td style="text-align: center">&nbsp;S&nbsp;</td>
          <td style="text-align: center">&nbsp;M&nbsp;</td>
          <td style="text-align: center">&nbsp;L&nbsp;</td>
          <td style="text-align: center">&nbsp;XL</td>
          <td style="text-align: center">XXL</td>
          <td style="text-align: center">3XL</td>
          <td style="text-align: center">TTL</td>
          <td style="text-align: center">G. TOTAL</td>
        </tr>
        <% item.items.forEach(function(d, i) { %>
        <tr>
          <td><%= d.Color %></td>
          <td style="text-align: center">:</td>
          <td style="text-align: center"><%= d.S %></td>
          <td style="text-align: center"><%= d.M %></td>
          <td style="text-align: center"><%= d.L %></td>
          <td style="text-align: center"><%= d.XL %></td>
          <td style="text-align: center"><%= d.XXL %></td>
          <td style="text-align: center"><%= d.XXL %></td>
          <td style="text-align: center"><%= d.TTL %></td>
          <% if (i === 0) { %>
          <td style="text-align: center" rowspan="<%= item.items.length %>">
            <%= item.sums.TTL %>
          </td>
          <% } %>
        </tr>
        <% });%>
        <!-- <tr>
            <td>560 DENIM</td>
            <td style="text-align: center">:</td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">30</td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center">30</td>
            <td style="text-align: center">30</td>
          </tr> -->

        <tr class="bd-no">
          <td style="padding-top: 30px">TOTAL QTY</td>
          <td style="text-align: center; padding-top: 30px">:</td>
          <td colspan="8" style="padding-top: 30px">
            <%= item.sums.TTL %> &nbsp;&nbsp; PCS
          </td>
        </tr>
        <tr class="bd-no">
          <td>GROSS WEIGHT</td>
          <td style="text-align: center">:</td>
          <td colspan="8"><%= item.items[0].GrossWeight %>&nbsp;&nbsp;KGS</td>
        </tr>
        <tr class="bd-no">
          <td>NET WEIGHT</td>
          <td style="text-align: center">:</td>
          <td colspan="8"><%= item.items[0].NetWeight %> &nbsp;&nbsp;KGS</td>
        </tr>
        <tr class="bd-no">
          <td>CARTON ME.</td>
          <td style="text-align: center">:</td>
          <td colspan="8">63X40X25 CM</td>
        </tr>
        <tr class="bd-no">
          <td>CARTON N<sup style="font-size: 1rem">o</sup></td>
          <td style="text-align: center">:</td>
          <td colspan="8">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
          </td>
        </tr>
      </table>
      <h2 style="text-align: center; font-size: 1.8rem; margin-top: 30px">
        MADE IN BANGLADESH
      </h2>
    </div>

    <!-- {
      CartonNo: "2",
      Brand: "MARVILLE",
      NewCoop: "ALAMIN",
      Style: "RAW",
      Color: "102 BLUE",
      S: "2",
      M: "3",
      L: "4",
      XL: "3",
      XXL: "2",
      XXXL: "1",
      TTL: "15",
      Gtotal: "30",
      GrossWeight: "9.2",
      NetWeight: "7.2",
    }, -->
  </body>
</html>
